<nav class="left-panel">
  <div class="left-panel__top">
    <button class="left-panel__btn active" data-page="home">
      <span class="material-symbols-outlined left-panel__icon">home</span>
      <span class="left-panel__label">Главная</span>
    </button>
    <button class="left-panel__btn" data-page="employees">
      <span class="material-symbols-outlined left-panel__icon">groups</span>
      <span class="left-panel__label">Сотрудники</span>
    </button>
    <button class="left-panel__btn" data-page="calendar">
      <span class="material-symbols-outlined left-panel__icon"
        >calendar_month</span
      >
      <span class="left-panel__label">Календарь</span>
    </button>
  </div>
  <div class="left-panel__bottom">
    <button class="left-panel__btn" data-page="settings">
      <span class="material-symbols-outlined left-panel__icon">settings</span>
      <span class="left-panel__label">Настройки</span>
    </button>
  </div>
</nav>
